* {
  font-family: $fontMain;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.main-padding {
  padding-left: 10.25vw;
  padding-right: 10.25vw;
}

.text {
  &_type {
    &_nav {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
    }

    &_main-title {
      font-style: normal;
      font-weight: bold;
      font-size: 4vw;
    }

    &_h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 1.875vw;
    }

    &_h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 1.5vw;
    }

    &_h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 1.5vw;
    }
    &_h5 {
      font-style: normal;
      font-weight: 600;
      font-size: 1.125vw;
    }
    &_h6 {
      font-style: normal;
      font-weight: 500;
      font-size: 0.875vw;
      line-height: 200%;
    }

    &_main {
      font-style: normal;
      font-weight: 500;
      font-size: 1vw;
      line-height: 150%;
    }

    &_desc {
      font-style: normal;
      font-weight: 500;
      font-size: 1vw;
    }

    &_sub-desc {
      font-style: normal;
      font-weight: 500;
      font-size: 0.75vw;
    }

    &_name {
      font-style: normal;
      font-weight: 500;
      font-size: 1.25vw;
    }

    &_cost {
      font-style: normal;
      font-weight: 500;
      font-size: 1.5vw;
    }
  }

  &_color {
    &_main {
      color: $mainColor;
    }

    &_gray {
      color: $gray;
    }

    &_white {
      color: $white;
    }

    &_black {
      color: $black;
    }
  }
}

.button {
  padding: 0.625vw 3.375vw;
  border-radius: 0.625vw;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &__arrow {
    transition: 0.3s;
    margin-left: 0.625vw;
    width: 1.125vw;
    height: 0.625vw;
  }

  &_color {
    &_main {
      border: 2px solid $mainColor;
      background-color: $mainColor;
      color: $white;

      &:hover {
        border: 2px solid $mainHover;
        background-color: $mainHover;
        color: $white;
        path {
          fill: $white;
          stroke: $white;
        }
      }

      &:active {
        border: 2px solid $mainClick;
        background-color: $mainClick;
        color: $white;
        path {
          fill: $white;
          stroke: $white;
        }
      }
    }
  }

  &_type {
    &_main {
      border: 2px solid transparent;
    }

    &_border {
      background-color: transparent;
      color: $mainColor;
    }

    &_arrow {
      padding: 0px;
      border: none;
      background-color: transparent;

      &:hover {
        color: $mainHover;

        path {
          stroke: $mainHover;
        }

        .button__arrow {
          transform: translateX(8px);
        }
      }

      &:active {
        color: $mainClick;

        path {
          stroke: $mainClick;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .main-padding {
    padding-left: 164px;
    padding-right: 164px;
  }

  .text {
    &_type {
      &_nav {
        font-size: 16px;
      }

      &_main-title {
        font-size: 64px;
      }

      &_h2 {
        font-size: 30px;
      }

      &_h3 {
        font-size: 24px;
      }

      &_h4 {
        font-size: 24px;
      }
      &_h5 {
        font-size: 18px;
      }
      &_h6 {
        font-size: 14px;
      }

      &_main {
        font-size: 16px;
      }

      &_desc {
        font-size: 16px;
      }

      &_sub-desc {
        font-size: 12px;
      }

      &_name {
        font-size: 20px;
      }

      &_cost {
        font-size: 24px;
      }
    }
  }
  .button {
    padding: 10px 54px;
    border-radius: 10px;

    &_type {
      &_arrow {
        padding: 0;
      }
    }

    &__arrow {
      margin-left: 10px;
      width: 18px;
      height: 10px;
    }
  }
}
@media screen and (max-width: 1360px) {
  .main-padding {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media screen and (max-width: 1280px) {
  .main-padding {
    padding-left: 100px;
    padding-right: 100px;
  }
  .text {
    &_type {
      &_nav {
        font-size: 16px;
      }

      &_main-title {
        font-size: 56px;
      }

      &_h2 {
        font-size: 26px;
      }

      &_h3 {
        font-size: 21px;
      }

      &_h4 {
        font-size: 21px;
      }
      &_h5 {
        font-size: 16px;
      }
      &_h6 {
        font-size: 12px;
      }

      &_main {
        font-size: 16px;
      }

      &_desc {
        font-size: 14px;
      }

      &_sub-desc {
        font-size: 12px;
      }

      &_name {
        font-size: 18px;
      }

      &_cost {
        font-size: 21px;
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .main-padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .main-padding {
    padding-left: 14px;
    padding-right: 14px;
  }
  .text {
    &_type {
      &_main-title {
        font-size: 44px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .text {
    &_type {
      &_nav {
        font-size: 16px;
      }

      &_main-title {
        font-size: 32px;
      }

      &_h2 {
        font-size: 30px;
      }

      &_h3 {
        font-size: 18px;
      }

      &_h4 {
        font-size: 24px;
      }

      &_h5 {
        font-size: 18px;
      }

      &_h6 {
        font-size: 14px;
      }

      &_main {
        font-size: 16px;
      }

      &_desc {
        font-size: 14px;
      }

      &_sub-desc {
        font-size: 12px;
      }

      &_cost {
        font-size: 24px;
      }
    }
  }
}
