// colors
$black: #000;
$white: #fff;
$mainColor:#AF5B29;
$mainHover:#AD4000;
$mainClick:#7A2F03;
$gray:#CBCBCB;
$grayBG:#EDEDED;


// fonts
$fontMain:'Montserrat',
sans-serif;


// media
$desktopWidth: 1440px;
$tabletWidth: 1024px;
$phoneWidth: 600px;