.bread-crumbs {
  &__ul {
    display: flex;
    align-items: center;
  }

  &__separator {
    margin: 0 10px;
    display: flex;
    align-items: center;
  }

  &__link {
    &:hover {
      color: $mainHover;
    }

    &:active {
      color: $mainClick;
    }
  }

  &__li {
    display: flex;
  }
}