.card {
  width: 100%;
  min-height: 100%;
  background: $white;
  border: 2px solid $gray;
  overflow: hidden;
  border-radius: 0.625vw;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow .3s, border .3s;

  &:hover {
    box-shadow: 0px 8px 70px rgba(36, 28, 41, 0.15);
    z-index: 1;
    border: 2px solid $white;
  }

  &__img {
    position: relative;
    height: 14vw;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  &__icon {
    position: absolute;
    right: 1.1764vw;

    &_favorite {
      top: 1.1764vw;
    }

    &_comparison {
      top: 4.1176470vw;
    }
  }

  &__text {
    padding: 1.1764705882352vw;
  }

  &__breed {
    margin-top: 0.705882352vw;
    margin-bottom: 0.705882352vw;
    font-style: normal;
    font-weight: 600;
    font-size: 0.941176470588235294vw;
  }

  &__breeder {
    margin-top: 0.705882352vw;
    margin-bottom: 0.705882352vw;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8235294117vw;
  }

  &__cost{
    margin-bottom: 18px;
  }

  &__desc-row {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8235294117vw;
  }
}
@media screen and (max-width:1700px) {
  .card {
    border: 1px solid $gray;
    border-radius: 10px;

    &:hover {
      border: 1px solid $white;
    }
  
    &__img {
      height: 240px;
      width: 100%;
    }
  
    &__icon {
      right: 20px;
  
      &_favorite {
        top: 20px;
      }
  
      &_comparison {
        top: 70px;
      }
    }
  
    &__text {
      padding: 20px;
    }
  
    &__breed {
      margin-top: 12px;
      margin-bottom: 12px;
      font-size: 16px;
    }
  
    &__breeder {
      margin-top: 12px;
      margin-bottom: 12px;
      font-size: 14px;
    }
  
    &__desc-row {
      font-size: 14px;
    }
  }
}