.clear-list {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__text {
    margin-left: 10px;
  }

  &:hover {
    .clear-list {
      &__text {
        color: $mainHover;
      }
    }

    path {
      stroke: $mainHover;
    }
  }

  &:active {
    .clear-list {
      &__text {
        color: $mainClick;
      }
    }

    path {
      stroke: $mainClick;
    }
  }
}
