.detail-card-main-section {
  margin-top: 50px;

  &__title {
    margin-top: 16px;
  }

  &__button-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;

    &:last-of-type{
      margin-right: 0;
    }

    svg{
      height: 20px;
    }

    .text {
      margin-left: 9px;
    }

    &:hover {
      path, line {
        stroke: $mainHover;
      }

      .text {
        color: $mainHover;
      }
    }

    &:active {
      path, line {
        stroke: $mainClick;
      }

      .text {
        color: $mainClick;
      }
    }
  }

  &__socil-links{
    display: flex;
  }
  &__socil-link-item:not(:last-of-type){
    margin-right: 20px;
  }
  &__contacts-wrapper{
    border: 1px dashed #AF5B29;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  &__contact{
    margin-bottom: 3px;

    &:last-of-type{
      margin-bottom: 12px;
    }
  }

  &__buttons {
    display: flex;
    width: 33%;
    &_mobile{
      display: none;
    }
  }

  &__row-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 32px;
  }
  &__slider{
    width: calc(66% - 30px);
    margin-right: 30px;
  }
  &__info{
    width: 33%;
  }
  &__main-row{
    justify-content: space-between;
    display: flex;
  }
  &__cost{
    margin-top: 24px;
    margin-bottom: 24px;
  }
  &__farm{
    margin-top: 12px;
    margin-bottom: 12px;
  }
  &__desc{
    margin-top: 12px;
    margin-bottom: 26px;
  }
  &__table{
    margin-top: 30px;
    margin-bottom: -100%;
  }
  &__table-title{
    font-weight: 600;
    font-size: 0.875vw;
    line-height: 200%;
  }
  &__table-item{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;

    &:nth-child(odd){
      background: $grayBG;
    }
  }
  &__desc-section{
    margin-top: 15px;
    width: calc(66% - 30px);
  }
  &__sub-title{
    margin-top: 38px;
    margin-bottom: 18px;
  }
  &__cards{
    display: flex;
    justify-content: space-between;
  }
  &__card-wrapper{
    width: calc(50% - 15px);
    display: flex;
  }
}
@media screen and (max-width:1600px) {
  .detail-card-main-section {  
    &__title {
      margin-top: 16px;
    }
  
    &__button-item {
      margin-right: 30px;
  
      .text {
        margin-left: 9px;
      }
    }
  
    &__row-head {
      margin-top: 12px;
      margin-bottom: 32px;
    }
    &__slider{
      width: calc(66% - 30px);
      margin-right: 30px;
    }
    &__cost{
      margin-top: 24px;
      margin-bottom: 24px;
    }
    &__farm{
      margin-top: 12px;
      margin-bottom: 12px;
    }
    &__desc{
      margin-top: 12px;
      margin-bottom: 26px;
    }
    &__table{
      margin-top: 30px;
    }
    &__table-title{
      font-size: 14px;
    }
    &__table-item{
      border-radius: 10px;
      padding: 8px 20px;
    }
    &__desc-section{
      margin-top: 15px;
      width: calc(66% - 30px);
    }
    &__sub-title{
      margin-top: 38px;
      margin-bottom: 18px;
    }
    &__card-wrapper{
      width: calc(50% - 15px);
    }
  }
}
@media screen and (max-width:1000px) {
  .detail-card-main-section{
    margin-top: 30px;

    &__main-row{
      flex-direction: column;
    }
    &__slider{
      width: 100%;
    }
    &__info{
      margin-top: 32px;
      width: 100%;
    }
    &__desc-section{
      width: 100%;
    }
    &__table{
      margin-bottom: 0;
    }
    &__buttons{
      width: 100%;
      margin-bottom: 32px;
      &_desktop{
        display: none;
      }
      &_mobile{
        display: flex;
      }
    }
  }
}
@media screen and (max-width:600px) {
  .detail-card-main-section{
    &__cards{
      flex-direction: column;
    }
    &__card-wrapper{
      width: 100%;
      &:not(:last-of-type){
        margin-bottom: 32px;
      }
    }
  }
}
@media screen and (max-width:350px) {
  .detail-card-main-section{
    &__socil-link-item:not(:last-of-type){
      margin-right: 10px;
    }
  }
}