.filters {
  width: 100%;
  &__title {
    margin-bottom: 20px;
    font-weight: 600;

    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }

  &__checkbox-wrapper {
    margin-bottom: 2px;
  }

  &__show-all {
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      color: $mainHover;
    }

    &:active {
      color: $mainClick;
    }
  }

  &__button {
    margin-top: 30px;
  }
}

@media screen and (max-width:1700px) {
  .filters {  
    &__title {
      margin-bottom: 20px;
  
      &:not(:first-of-type) {
        margin-top: 30px;
      }
    }
  
    &__checkbox-wrapper {
      margin-bottom: 2px;
    }
  
    &__show-all {
      margin-top: 20px;
    }
  
    &__button {
      margin-top: 30px;
    }
  }
}