.pagination {
  display: flex;

  &__arrow-wrapper {
    cursor: pointer;
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      path {
        stroke: $mainHover;
      }
    }

    &:active {
      path {
        stroke: $mainClick;
      }
    }
  }

  &__main {
    display: flex;
    &_mobile{
      display: none;
    }
  }

  &__item {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 0.625vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 0.625vw;
    }

    &:hover:not(.pagination__item_active) {
      background-color: $grayBG;
    }

    &_active {
      border: 2px solid $mainColor;
      color: $mainColor;
    }
  }

  &__more-item {
    display: flex;
    align-items: flex-end;
    margin-right: 0.625vw;
    padding-bottom: 0.625vw;
  }
}

@media screen and (max-width:1600px) {
  .pagination {
    &__arrow-wrapper {
      width: 40px;
      height: 40px;
    }
  
    &__item {
      width: 40px;
      height: 40px;
      border-radius: 10px;
  
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  
    &__more-item {
      margin-right: 10px;
      padding-bottom: 10px;
    }
  }
}
@media screen and (max-width:1600px) {
  .pagination {
    &__main{
      &_desktop{
        display: none;
      }
      &_mobile{
        display: flex;
      }
    }
    &__item:not(:last-of-type), &__more-item{
      margin-right: 8px;
    }
    &__arrow-wrapper{
      width: 30px;
    }
  }
}