.parent-card{
  display: flex;
  overflow: hidden;
  width: 100%;
  &:not(:last-of-type){
    margin-bottom: 30px;
  }

  &__main{
    padding: 1.25vw;
    padding-top: 1.75vw;
  }
  &__name{
    margin-bottom: 1vw;
  }

  &__img{
    width: 16vw;
    height: 15vw;
    border-radius: 0.625vw;
    background-image: url('../../media/testDog.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__social-links{
    display: flex;
  }
  &__social-link{
    margin-right: 1.25vw;
  }
  &__birth{
    margin-bottom: 1vw;
  }
  &__location{
    margin-bottom: 1vw;
  }
  &__regalia{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1vw;
  }
  &__pedigree{
    margin-bottom: 1vw;
    display: inline-block;
    padding-bottom: 4px;      
    border-bottom: 2px dashed #AF5B29;
  }
}
@media screen and (max-width:1600px) {
  .parent-card{
    &__main{
      padding: 20px;
      padding-top: 28px;
    }
    &__name{
      margin-bottom: 16px;
    }
  
    &__img{
      width: 255px;
      height: 240px;
      border-radius: 10px;
    }
    &__social-links{
      display: flex;
    }
    &__social-link{
      margin-right: 20px;
    }
    &__birth{
      margin-bottom: 16px;
    }
    &__location{
      margin-bottom: 16px;
    }
    &__regalia{
      margin-bottom: 16px;
    }
    &__pedigree{ 
      margin-bottom: 16px;
      padding-bottom: 2px;
      border-bottom: 1px dashed #AF5B29;
    }
  }
}
@media screen and (max-width:600px) {
  .parent-card{
    flex-direction: column;
    &__img{
      width: 100%;
    }
  }
}
@media screen and (max-width:330px) {
  .parent-card{
    &__main{
      padding: 14px;
    }
    &__social-link{
      margin-right: 16px;
    }
  }
}