.search-main-section {
  display: flex;
  margin-top: 50px;

  &__item-wrapper {
    width: calc(33.33333% - 20px);
    margin-bottom: 30px;
    margin-right: 30px;

    &:nth-child(3n + 2) {
      margin-right: 0;
    }
  }
  &__button-img {
    margin-right: 10px;
  }
  &__filters-modal {
    display: none;
  }
  &__filters-button {
    display: none;
  }
  &__filters-wrapper {
    min-width: calc(25% - 23px);
    margin-right: 30px;
    width: 0;
  }

  &__count {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
  }

  &__items-wrapper {
    width: 100%;
    display: flex;
    // align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  &__pagination-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 60px;
  }
}
@media screen and (max-width: 1700px) {
  .search-main-section {
    &__filters-wrapper {
      min-width: calc(33% - 20px);
    }

    &__item-wrapper {
      width: calc(50% - 15px);
      margin-bottom: 30px;

      &:nth-child(3n + 2) {
        margin-right: 30px;
      }

      &:nth-child(2n + 2) {
        margin-right: 0;
      }
    }

    &__pagination-wrapper {
      margin-top: 90px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .search-main-section {
    margin-top: 30px;

    &__count {
      justify-content: center;
      margin-bottom: 20px;
    }

    &__filters-wrapper {
      display: none;
    }
    &__filters-modal {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(var(--vh, 1vh) * 100);
      z-index: 101;
      background-color: $white;
      overflow: auto;
      padding-bottom: 30px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s 0.3s;
      &_active {
        transition: opacity 0.3s, visibility 0s 0s;
        opacity: 1;
        visibility: visible;
      }
    }
    &__filters-modal-title-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 2px solid $gray;
      margin-bottom: 30px;
      position: relative;
    }
    &__filters-modal-title {
      font-weight: 600;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
    }
    &__filters-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      border-radius: 10px;
      padding: 12px;
      width: 245px;
      height: 50px;
      background-color: #fff;
      box-shadow: 0px 8px 30px rgba(36, 28, 41, 0.15);
    }
    &__pagination-wrapper {
      margin-top: 30px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 660px) {
  .search-main-section {
    margin-top: 20px;
    &__item-wrapper {
      width: 100%;
      margin-bottom: 24px;
      margin-right: 0;

      &:nth-child(3n + 2) {
        margin-right: 0px;
      }

      &:nth-child(2n + 2) {
        margin-right: 0;
      }
    }
  }
}
