.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dc6c29;
  border-radius: 10px;
  padding: 7px 30px;
  white-space: nowrap;
  opacity: 0.4;
  &_active {
    opacity: 1;
  }
  &_clickable {
    cursor: pointer;
  }
}
