.title-block {
  background-color: $grayBG;
  padding-top: 5.625vw;
  padding-bottom: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &__title {
    font-weight: 600;
    text-align: center;
    line-height: 167%;
    position: relative;
    z-index: 1;
  }

  &__bread-crumbs {
    margin-top: 0.625vw;
    position: relative;
    z-index: 1;
  }

  &__bg-dog {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

@media screen and (max-width:1600px) {
  .title-block {
    padding-top: 90px;
    padding-bottom: 48px;
  
    &__bread-crumbs {
      margin-top: 10px;
    }
  }
}
@media screen and (max-width:1100px) {
  .title-block {
    &__title{
      width: 300px;
    }
  }
}
@media screen and (max-width:1000px) {
  .title-block{
    padding-top: 0;
    padding-bottom: 0;
    background-color: $white;

    &__title{
      width: 100%;
      padding: 0 14px;
    }

    &__bg-dog{
      position: relative;
      order:-1;
      height: 170px;
      margin-bottom: 30px;
    }
  }
}