.title-block {
  background-color: $grayBG;
  padding-top: 5.625vw;
  padding-bottom: 0.625vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &__title {
    font-weight: 600;
    text-align: center;
    line-height: 167%;
    position: relative;
    z-index: 1;
  }

  &__bread-crumbs {
    margin-top: 0.625vw;
    position: relative;
    z-index: 1;
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url("../../media/title-bg.svg");
    background-color: $grayBG;
  }
  &__bg-dog {
    position: absolute;
    width: 189.92px;
    height: 101.54px;
    right: 100px;
    bottom: 0;
  }
}

@media screen and (max-width: 1600px) {
  .title-block {
    padding-top: 90px;
    padding-bottom: 10px;

    &__bread-crumbs {
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .title-block {
    &__title {
      width: 300px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .title-block {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $white;

    &__title {
      width: 100%;
      padding: 0 14px;
      font-weight: 500;
    }

    &__bg {
      position: relative;
      order: -1;
      height: 170px;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 600px) {
  .title-block {
    &__bg {
      margin-bottom: 20px;
      height: 56px;
    }
  }
}
